.layout-container {
  margin: 0;
  padding: 0;
}

.header-container{
  margin: 2px;
  gap: 8px;
  justify-content: center;
}


.card-container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  padding: 10px;
}

h1{
  display: grid;
  margin: 2px;
  padding: 2px;
  justify-content: start;
}

p{
justify-content: center;
margin: 4px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 48rem;
  height: 14rem;
  border: 3px solid rgb(197, 190, 190);
  border-radius: 1.2rem;
  margin: 2rem;
  justify-content: center;
  align-items: center;
}

.categorySelector {
  display: flex;
  align-items: center;
  overflow-x: auto;
  white-space: nowrap;
  margin-bottom: 20px;
}

.categoryContainer {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  flex-grow: 1;
}

.categoryContainer::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.category {
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0 5px;
}

.active {
  background-color: #ddd;
  border-radius: 5px;
}

.categorySection {
  padding: 20px;
  border-bottom: 1px solid #ccc;
  min-height: 200px; /* Adjust as necessary */
}



.card:hover{
  background-color: rgb(198, 195, 195);
  height: 16rem;
}